@import url('https://fonts.googleapis.com/css2?family=Long+Cang&family=Poppins:ital,wght@0,300;1,300&display=swap');
*{
   margin: 0;
   font-family:'Poppins', sans-serif ;
   padding: 0;
}
section {
   position: relative;
   width: 100vw;
   min-height: 100vh;
   display:flex;
   align-items: center;
   background-color: rgb(188, 15, 15);
   justify-content: space-between;
   right: 0;
   overflow-x: hidden;
}

header {
    width: 100vw;
    top: 0;
    left: 0;
    position:absolute;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:nowrap;
    flex-direction: row;
    padding-left: 85px;
}

header .logo {
   position: relative;
   padding-top: 5px;
}
header h2 {
   padding-left: 15px;
   padding-right: 800px;
}

header ul {
   position: relative;
   display: flex;
   padding-right: 200px;
   
}

header ul li {
   list-style: none;
}

header ul li a {
   text-decoration: none;
   font-weight: bold;
   color: black;
   display: inline-block;
   margin-left: 35px ;
   cursor: pointer;
}
.content {
   display: flex;
   position:relative;
   padding-left: 100px;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

.imgbox {
   width: 500px;
   z-index: 0;
   display: flex;
   justify-content: flex-end;
   padding-right: 40px;
   padding-top: 50px;
}
.content .textbox1 {
   color: beige;
   z-index: 1;
   position:relative;
   font-style: italic;
   letter-spacing: 1px;
}
.textbox1 button {
   font-size:medium;
   color: black;
   background-color: beige;
   border-style:none;
   padding: 6px 20px;
   display: inline-block;
   border-radius: 30px;
   letter-spacing: 1px;
   margin-top: 20px;
   cursor: pointer;
}

#form {
   display:none;
   position:fixed;
   bottom: 0;
   right: 20px;
   border: 5px solid #f1f1f1;
   z-index: 9;
   border-top-left-radius: 40px;
   border-top-right-radius: 40px;
   font-style: normal;
 }

 .form-container {
   color: black;
   width: 400px;
   padding: 35px;
   background-color: white;
}
#form input{
   margin:5px 20px 0px;
   padding-left: 5px;
}
#total {
   border: none;
   font-size: 20px;
   
}
input[type=text] {
   border-bottom:2px solid rgb(188, 15, 15);
   border-top: none;
   border-left: none;
   border-right: none;
   width: 80%;
   padding: 8px 20px;
   box-sizing: border-box;
}

.menu div {
   display:flex;
   padding: 5px;
}
.specials {
   padding: 100px;
   display: flex;
   align-items: center;
   position: relative;
   width: 100%;
   max-width:100%;
   background-color:beige;
   justify-content: space-between;
   text-align: center;
 }
 .textbox2 {
   padding-bottom: 80px;
 }

 .textbox2 button {
   font-size:medium;
   color:whitesmoke;
   background-color:black;
   border-style:none;
   padding: 10px 40px;
   display: inline-block;
   border-radius: 30px;
   letter-spacing: 1px;
   margin-top: 40px;
   cursor:pointer;
 }
 .items {
   width: 53%;
   align-items: center;
 }

 .items img {
   border-radius: 20px;
   width: 230px;
   height: 230px;
   position: relative;
   display: inline-block;
   vertical-align: middle;
 }
 
 .first2 {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-right: 18%;
 }
 
 .second2 {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-right: 18%;
   padding-top: 4%;
 }
 .items p {
   padding-top: 5px;
   font-family: 'Poppins', sans-serif;
   font-size: 20px;
   text-align: center;
   font-weight: 600;
 }
 .container {
   height: 100vh;
   width: 100%;
   max-width: 100%;
   background-color: black;
   padding-top: 40px;
   padding-left: 100px;
   display: block;
   position: relative;
 }
.container h1 {
   max-width: 30%;
   max-height: 30%;
   z-index: 1;
   color: beige;
   position: absolute;
   font-style: italic;
}
 .slideshow {
   display: none;
 }
 .carousel {
   z-index: -1;
   padding-top: 20px;
   padding-left: 500px;
}
.carousel img{
   width: 750px;
   height: 550px;
 }



.reviewsection {
   display:block;
   align-items: center;
   position: relative;
   width: 100%;
   max-width:100%;
   background-color:beige;
   justify-content: space-between;
   text-align: center;
   height: 100vh;
}
.reviewsection h1 {
   padding-top: 50px;
}
.reviews {
   display: flex;
   justify-content: space-between;
   padding:100px;
}
.reviews a {
   background-color:rgb(188, 15, 15);
   text-decoration: none;
   padding:5px 12px;
   color: white;
   border-radius: 50%;
}
.reviews h4 {
   padding-left: 10px;
}
.customer {
   display: flex;
   padding-bottom: 20px;
   align-items: center;
}
.rev1, .rev2, .rev3 {
   background-color: black;
   width: 200px;
   padding: 50px;
   border-radius: 40px;
   color: white;
   text-align: left;

}
footer {
   padding-left: 110px;
   padding-right: 180px;
   padding-top: 30px;
   display: flex;
   position: relative;
   max-width: 100%;
   background-color: rgb(188, 15, 15);
   color: white;
   min-height: 160px;
   justify-content: space-between;
}
footer h1 {
   padding-right: 100px;
   padding-bottom: 10px;
   padding-top: 15px;
}
.fa {
   padding: 15px;
   text-align: center;
   font-size: 30px;
   width: 20px;
   text-decoration: none;
   border-radius: 50%;
}

.fa:hover {
   opacity: 0.7;
}

 .fa-instagram, .fa-twitter, .fa-facebook {
   background:black;
   color: white;
 }

 footer h4 {
   padding-top: 10px;
 }