@import url('https://fonts.googleapis.com/css2?family=Long+Cang&family=Poppins:ital,wght@0,300;1,300&display=swap');
*{
   margin: 0;
   font-family:'Poppins', sans-serif ;
   padding: 0;
}
section {
   position: relative;
   width: 100vw;
   min-height: 100vh;
   display:flex;
   align-items: center;
   background-color: rgb(188, 15, 15);
   justify-content: space-between;
}

header {
    width: 100vw;
    top: 0;
    left: 0;
    position:absolute;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:nowrap;
    flex-direction: row;
    padding-left: 85px;
}

header .logo {
   position: relative;
   padding-top: 5px;
}
header h2 {
   padding-left: 15px;
   padding-right: 800px;
}

header ul {
   position: relative;
   display: flex;
   padding-right: 200px;
   
}

header ul li {
   list-style: none;
}

header ul li a {
   text-decoration: none;
   font-weight: bold;
   color: black;
   display: inline-block;
   margin-left: 35px ;
}
.content {
   display: flex;
   position:relative;
   padding-left: 80px;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

.imgbox {
   width: 500px;
   z-index: 0;
   display: flex;
   justify-content: flex-end;
   padding-right: 40px;
   padding-top: 50px;
}
.content .textbox1 {
   color: beige;
   z-index: 1;
   position:relative;
   font-style: italic;
   letter-spacing: 1px;
}
.textbox1 button {
   font-size:medium;
   color: black;
   background-color: beige;
   border-style:none;
   padding: 6px 20px;
   display: inline-block;
   border-radius: 30px;
   letter-spacing: 1px;
   margin-top: 20px;
   cursor: pointer;
}
